<style>
    /* ------------- Контейнер с адаптивными блоками------------- */
.masonry {
    margin: 1.5em 0;
    padding: 0;
    column-gap: 1.5em; /* Общее расстояние между колонками */
    font-size: .85em;
    -moz-column-gap: 1.5em; /* Расстояние между колонками для Firefox */
    -webkit-column-gap: 1.5em; /* Расстояние между колонками  для Safari, Chrome и iOS */
}

/* Элементы в виде плиток с содержанием */
.item {
    display: inline-block;
    background: #fff;
    padding: 1em;
    margin: 0 0 1.5em;
    width: auto;
    box-sizing: border-box; /* Изменения алгоритма расчета ширины и высоты элемента.*/
    -moz-box-sizing: border-box; /* Для Firefox */
    -webkit-box-sizing: border-box; /* Для Safari, Chrome, iOS иAndroid */
    box-shadow: 2px 2px 4px 0 #ccc; /* Внешняя тень плиток */
}

/* Стили картинок, видое и фреймов внутри адаптивных плиток */
img, iframe {
max-width: 100%;
height: auto;
display: block;
}

/* Стили ссылок внутри плиток */
.item a {
text-decoration: none;
color: #359CC6;
margin: 0 10px;
}

/* Стили ссылок при наведении */
.item a:hover {
color: #E88F00;
border-bottom: 1px dotted #9F1D35;
}

</style>

<!-- Контейнер с адаптиными блоками -->
<div class="masonry">
    <!-- Адаптивные блоки с содержанием -->
    <div class="item">
        <img src="https://static.smartafisha.ru/covers/32/30/cover_323065_56d853008694c.jpg">
        <br>За упокой<a href="https://ru.wikipedia.org/wiki/Кирилл_(патриарх_Московский)" target="_blank">Подробнее »</a>
    </div>

    <div class="item">
        <img src="https://pp.userapi.com/c7004/v7004484/3f817/nYLpbykk4f0.jpg">
        <br>Крестовый поход<a href="https://ru.wikipedia.org/wiki/Кирилл_(патриарх_Московский)" target="_blank">Подробнее »</a>
    </div>

    <div class="item">
        <img src="http://ruskazaki.ru.images.1c-bitrix-cdn.ru/upload/resize_cache/iblock/239/298_221_1/239c0a5f4be3a295ca318a846a6f822f.jpg?150526135724303">
        <br>Патриарх Московский и всея Руси<a href="https://ru.wikipedia.org/wiki/Кирилл_(патриарх_Московский)" target="_blank">Подробнее »</a>
    </div>
    <div class="item">
        <img src="http://luki-eparhia.ru/a/upload/articles/s272825.p.jpg">
        <br>Патриарх Московский и всея Руси<a href="https://ru.wikipedia.org/wiki/Кирилл_(патриарх_Московский)" target="_blank">Подробнее »</a>
    </div>
    <div class="item">
        <img src="http://luki-eparhia.ru/a/upload/articles/s272825.p.jpg">
        <br>Патриарх Московский и всея Руси<a href="https://ru.wikipedia.org/wiki/Кирилл_(патриарх_Московский)" target="_blank">Подробнее »</a>
    </div>
    <div class="item">
        <img src="http://luki-eparhia.ru/a/upload/articles/s272825.p.jpg">
        <br>Патриарх Московский и всея Руси<a href="https://ru.wikipedia.org/wiki/Кирилл_(патриарх_Московский)" target="_blank">Подробнее »</a>
    </div>


    <!-- Конец адаптивных блоков с содержанием -->

</div>
<!-- Конец контейнера с адаптивными блоками -->